<div class="modal fade" id="added_to_cart" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog my-modal" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                        <polygon class="" points="26,1.1 24.9,0 13,11.9 1.1,0 0,1.1 11.9,13 0,24.9 1.1,26 13,14.1 24.9,26 26,24.9 14.1,13 " />
                    </svg>
                </span>
            </button>
            <h2 class="h-cart">Товар добавлен в корзину</h2>
            <p class="text-dgrey text-xs">Итого в вашей <a href="cart.html" class="a-link">корзине</a> 1 товар на сумму 52 000 руб.</p>
            <div class="my-hr"></div>
            <div class="crt_b">
                <div class="mr-2 mr-md-3">
                    <img src="img/tw1.jpg" alt="">
                </div>
                <div class="box">
                    <div class="mr-3 mb-3">
                        <p class="crt_nm bolder">Лестница Название П-образная с площадкой</p>
                        <p class="text-xs text-dgrey">Цвет каркаса: Серый</p>
                        <p class="text-xs text-dgrey">Материал: Бук</p>
                        <p class="text-xs text-dgrey">Высота шага: 220 мм</p>
                    </div>
                    <div class="qd">
                        <p class="p-price text-nowrap pink">
                            52 000<span class="price-rouble"></span>
                        </p>
                        <p class="old-price">57 000<span class="price-rouble"> </span></p>
                        <div class="counter mt-">
                            <span class="counter-less" id="btnminus4">–</span>
                            <input type="text" class="counter-inp" placeholder="1">
                            <span class="counter-more" id="btnplus4">+</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-hr"></div>
            <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
                <button class="btn btn-sister" type="button" data-toggle="modal" data-target="#added_to_cart">Продолжить покупки</button>
                <a class="btn btn-simple" href="cart.html">Перейти в корзину</a>
            </div>
        </div>
    </div>
</div>