<!-- Модальное окно "нашли дешевле" -->
<div class="modal fade" id="cheaper" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog my-modal" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                        <polygon class="" points="26,1.1 24.9,0 13,11.9 1.1,0 0,1.1 11.9,13 0,24.9 1.1,26 13,14.1 24.9,26 26,24.9 14.1,13 " />
                    </svg>
                </span>
            </button>
            <h2 class="mb-5 text-center">Нашли дешевле</h2>
            <form>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="inputPhoneCheaper" class="my-label">Телефон</label>
                        <input type="tel" class="form-control" id="inputPhoneCheaper">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="my-label" for="inputNameCheaper">Ваше имя</label>
                        <input type="text" class="form-control" id="inputNameCheaper">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="inputLink" class="my-label">Ссылка на товар</label>
                        <input type="url" class="form-control" id="inputLink">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="inputPrice" class="my-label">Цена, Р</label>
                        <input type="number" class="form-control" id="inputPrice">
                    </div>
                </div>
                <button type="submit" class="btn btn-simple btn-block mt-2 mb-4">Отправить ссылку</button>
                <p class="text-center">Мы рассмотрим ваше предложение на соответствие <a class="a-link text-center" href="akciya.html">условиям акции</a> и перезвоним</p>
            </form>
        </div>
    </div>
</div>
<!-- Конец -Модальное окно "нашли дешевле" -->