<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog my-modal" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                        <polygon class="st0" points="26,1.1 24.9,0 13,11.9 1.1,0 0,1.1 11.9,13 0,24.9 1.1,26 13,14.1 24.9,26 26,24.9 14.1,13 " />
                    </svg>
                </span>
            </button>
            <h2 class="" id="exampleModalLabel">Выберите город</h2>
            <ul class="city-ul">
              <li><a href="#">Москва</a></li>
              <li><a href="#">Санкт-Петербург</a></li>
              <li><a href="#">Екатеринбург</a></li>
              <li><a href="#">Нижний Новгород</a></li>
              <li><a href="#">Волгоград</a></li>
              <li><a href="#">Воронеж</a></li>
              <li><a href="#">Челябинск</a></li>
              <li><a href="#">Уфа</a></li>
              <li><a href="#">Минск</a></li>
              <li><a href="#">Бишкек</a></li>
              <li><a href="#">Великий Новгород</a></li>
              <li><a href="#">Астрахань</a></li>
              <li><a href="#">Липецк</a></li>
              <li><a href="#">Химки</a></li>
              <li><a href="#">Брянск</a></li>
              <li><a href="#">Москва</a></li>
              <li><a href="#">Санкт-Петербург</a></li>
              <li><a href="#">Екатеринбург</a></li>
              <li><a href="#">Нижний Новгород</a></li>
              <li><a href="#">Волгоград</a></li>
              <li><a href="#">Воронеж</a></li>
              <li><a href="#">Челябинск</a></li>
              <li><a href="#">Уфа</a></li>
              <li><a href="#">Минск</a></li>
              <li><a href="#">Бишкек</a></li>
              <li><a href="#">Великий Новгород</a></li>
              <li><a href="#">Астрахань</a></li>
              <li><a href="#">Липецк</a></li>
              <li><a href="#">Химки</a></li>
              <li><a href="#">Брянск</a></li>
            </ul>
        </div>
    </div>
</div>