<div class="header">
    <div class="sp-bx d-none">Специальный блок для специальных сообщений</div>
    <div class="container-fluid container-xl">
        <nav class="navbar navbar-expand-lg nvbr-hdr">
            <button class="navbar-toggler toggler-spring" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="bx">
                <a class="navbar-brand" href="index.html">
                    <img class="img-logo d-none d-sm-inline-block" src="img/brand_small.svg" alt="Лестницы-просто. Гипермаркет лестниц">
                    <p class="d-none d-sm-inline-block">Лестницы<br>просто<span>.ру</span></p>
                    <p class="d-sm-none">lestnicy-<br>prosto<span>.ru</span></p>
                </a>
                <div class="bxx-clm d-none d-lg-flex">
                    <a class="a-city" href="#" data-toggle="modal" data-target="#city_modal">
                        Нижний Новгород
                    </a>
                    <a class="text-nowrap text-xs text-grey" href="kontakty.html">
                        ул. Приборостроителей, 35
                    </a>
                </div>
                <form class="bxx d-none d-sm-inline-flex search-form">
                    <input class="form-control" type="search" placeholder="Найти лестницу">
                    <button class="btn search-btn" type="submit"><img class="i-img i-srch" src="img/search.svg" alt=""></button>
                </form>
                <a class="bxx d-none d-sm-flex d-lg-none" href="#" data-toggle="modal" data-target="#city_modal">
                    <img src="img/map.svg" alt="" class="i-img i-pin d-lg-none">
                </a>
                <div class="bxx">
                    <a class="dif-a" href="">
                         <img class="i-img i-ph d-lg-none" src="img/phone-call.svg" alt="">
                        <div class="d-none d-lg-block">
                            <p class="p-phone">
                                +7 495 152-33-56
                            </p>
                            <p class="text-grey">Круглосуточно</p>
                        </div>
                    </a>
                </div>
                <a type="button" class="bxx d-sm-none btn-search d-inline-flex dif-a order-md-3" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <img class="i-img i-srch" src="img/search.svg" alt="">
                </a>
                <a class="bxx d-xl-none order-md-6" href="">
                    <img class="i-img i-whtsp" src="img/whatsapp.svg" alt="">
                </a>
                <a class="bxx a-eml order-md-5" data-toggle="modal" data-target="#write_us" href="">
                    <img class="i-img i-eml" src="img/email2.svg" alt="">
                </a>
                <div class="bxx-clm d-none d-xl-flex">
                    <a class="text-xs pb" href="">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>WhatsApp
                    </a>
                    <a class="pb text-xs" href="" data-toggle="modal" data-target="#write_us">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>написать нам
                    </a>
                </div>
                <a href="cart.html" class="a-basket d-inline-flex align-items-center flex-nowrap order-md-7">
                    <div class="basket-box d-flex mr-lg-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21">
                            <path data-name="Ellipse 2 copy 6" class="header-svg" d="M1507,122l-0.99,1.009L1492,123l-1-1-1-9h-3a0.88,0.88,0,0,1-1-1,1.059,1.059,0,0,1,1.22-1h2.45c0.31,0,.63.006,0.63,0.006a1.272,1.272,0,0,1,1.4.917l0.41,3.077H1507l1,1v1ZM1492.24,117l0.43,3.995h12.69l0.82-4Zm2.27,7.989a3.5,3.5,0,1,1-3.5,3.5A3.495,3.495,0,0,1,1494.51,124.993Zm8.99,0a3.5,3.5,0,1,1-3.49,3.5A3.5,3.5,0,0,1,1503.5,124.993Zm-9,2.006a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,1494.5,127Zm9,0a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,1503.5,127Z" transform="translate(-1486 -111)" />
                        </svg>
                        <span class="count">2</span>
                    </div>
                    <p class="header-price d-none d-xl-flex text-nowrap">
                        35 900 <span class="price-rouble"></span>
                    </p>
                </a>
            </div>
        </nav>
        <!-- поиск -->
        <div class="collapse mb-1 mt-3" id="collapseExample">
            <div class="d-flex justify-content-between align-items-center">
                <form class="d-inline-flex search-form mr-2">
                    <input class="form-control" type="search" placeholder="Найти лестницу">
                    <button class="btn search-btn" type="submit">
                         <img class="i-img i-srch" src="img/search.svg" alt="">
                    </button>
                </form>
                <button type="button" class="d-inline-flex btn-close" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <img src="img/filter-close.svg" alt="" class="i-img i-cls">
                </button>
            </div>
        </div>
        <!-- Конец.поиск -->
    </div>
</div>
<!-- Конец хедера -->