<!-- Меню -->
<div class="container-xl">
    <div class="navbar navbar-expand-lg bsnav yel-bck mb-lg-2">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav navbar-my-nav navbar-mobile justify-content-lg-around align-items-lg-center">
                <li><a class="nav-item nav-link active" href="derev.html">Деревянные</a></li>
                <li>
                    <div class="line d-flex"></div>
                </li>
                <li><a class="nav-item nav-link" href="#">Винтовые</a></li>
                <li>
                    <div class="line d-flex"></div>
                </li>
                <li><a class="nav-item nav-link" href="#">Модульные</a></li>
                <li>
                    <div class="line d-flex"></div>
                </li>
                <li><a class="nav-item nav-link " href="metallokarkas.html">На металлокаркасе</a></li>
                <li>
                    <div class="line d-flex"></div>
                </li>
                <li><a class="nav-item nav-link " href="#">Чердачные</a></li>
                <li>
                    <div class="line d-flex"></div>
                </li>
                <li>
                    <a class="nav-item nav-link " href="kompl.html">
                    <!-- <a class="nav-item nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"> -->
                        Комплектующие
                    </a>
<!--                     <div class="dropdown-menu pt-lg-3 pb-lg-4">
                        <div class="row">
                            <div class="col-lg-3">
                                <a class="dropdown-item" href="#">Лаки, краски, масла</a>
                            </div>
                            <div class="col-lg-3">
                                <a class="dropdown-item" href="#">Коврики для лестниц</a>
                                <a class="dropdown-item" href="#">Ковродержатели</a>
                                <a class="dropdown-item" href="#">Освещение для лестниц</a>
                            </div>
                            <div class="col-lg-3">
                                <a class="dropdown-item" href="#">Столбы, балясины</a>
                                <a class="dropdown-item" href="#">Перила, поручни</a>
                            </div>
                            <div class="col-lg-3">
                                <a class="dropdown-item" href="#">Ступени</a>
                                <a class="dropdown-item" href="#">Больцы</a>
                            </div>
                        </div>
                    </div> -->
                </li>
                <li>
                    <div class="line d-flex"></div>
                </li>
                <li>
                    <a class="nav-item nav-link " href="#">На заказ</a>
                </li>
                <li class="d-lg-none mobile-dop-link mobile-measure-link">
                    <a class="nav-item nav-link " href="#" data-toggle="modal" data-target="#order_measure">Заказать замер</a>
                </li>
                <li class="d-lg-none mobile-dop-link mobile-calculate-link">
                    <a class="nav-item nav-link " href="#">Онлайн-калькулятор лестницы</a>
                </li>
                <li class="d-lg-none mobile-dop-info">
                    <ul class="ul-dop-info">
                        <li>
                            <p class="caption">
                                Контактная информация
                            </p>
                        </li>
                        <li>
                            <a class="a-city" href="#" data-toggle="modal" data-target="#city_modal">
                                Нижний Новгород
                            </a>
                        </li>
                        <li>
                            <p>ул.Приборостроителей, д.4</p>
                        </li>
                        <li>
                            <p class="phone mr-2 text-nowrap">+7 495 152-33-56
                                <span class="description">Круглосуточно</span></p>
                        </li>
                        <li>
                            <a href='#' class="mobile-mail">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="14" viewBox="0 0 19 14">
                                    <path class="cls-1" d="M1695,612h-15a2,2,0,0,1-2-2V600a2,2,0,0,1,2-2h15a2,2,0,0,1,2,2v10A2,2,0,0,1,1695,612Zm-13.88-2h12.75l-3.12-2.929,1.62-1.134L1695,608.3v-6.2l-7,4.9h-1l-7-4.9v6.2l2.62-2.363,1.62,1.128Zm13.46-10h-14.16l7.07,5Z" transform="translate(-1678 -598)"></path>
                                </svg>
                                zakaz@lestnicy-prosto.ru
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="bsnav-mobile">
        <div class="bsnav-mobile-overlay"></div>
        <div class="navbar">
        </div>
    </div>
</div>
<!-- Конец меню -->