<div class="modal fade" id="order_measure" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog my-modal" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                        <polygon class="" points="26,1.1 24.9,0 13,11.9 1.1,0 0,1.1 11.9,13 0,24.9 1.1,26 13,14.1 24.9,26 26,24.9 14.1,13 " />
                    </svg>
                </span>
            </button>
            <h2 class="mb-5 text-center">Заказать замер помещения</h2>
            <form>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="my-label" for="inputName3">Ваше имя</label>
                        <input type="text" class="form-control" id="inputName3">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPhone3" class="my-label">Телефон</label>
                        <input type="tel" class="form-control" id="inputPhone3">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label class="my-label" for="exampleFormControlTextarea3">Адрес</label>
                        <textarea class="form-control" id="exampleFormControlTextarea3" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                    <label class="form-check-label" for="defaultCheck3">
                        Я даю согласие на обработку персональных данных в соответствии с законом №152-ФЗ "О персональных данных"
                    </label>
                </div>
                <button type="submit" class="btn btn-simple btn-block mt-4 mb-3">Отправить</button>
                <p class="text-center">
                    Мы перезвоним вам, чтобы договориться об удобном для вас времени
                </p>
            </form>
        </div>
    </div>
</div>