<!-- Пагинация -->
<div class="section">
    <nav aria-label="Page navigation example">
        <ul class="my-pagination justify-content-center">
            <li class="page-item disabled">
                <a class="my-page-link" href="#" tabindex="-1" aria-disabled="true">назад</a>
            </li>
            <li class="page-item active">
                <a class="my-page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="my-page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="my-page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="my-page-link" href="#">вперед</a>
            </li>
        </ul>
    </nav>
</div>
<!-- Конец пагинации -->