<div class="container-xl">

        <div class="seo">
            <div class="row no-gutters">
                <div class="col">
                    <ul class="seo-list">
                        <li class="">
                            <h4 class="">
                                Помещение
                            </h4>
                        </li>
                        <li class="list-group-item-action"><a href="#">Лестницы для дома</a></li>
                        <li class="list-group-item-action"><a class="" href="#">Лестницы для дачи</a></li>
                        <li class="list-group-item-action"><a class="" href="#">Лестницы в коттедж</a></li>
                        <li class="list-group-item-action"><a class="" href="#">Лестницы в таунхаус</a></li>
                        <li class="list-group-item-action"><a class="" href="#">Лестницы для бани</a></li>
                    </ul>
                </div>
                <div class="w-100 d-sm-none"></div>
                <div class="col">
                    <ul class="seo-list mb-3">
                        <li class="">
                            <h4 class="">
                                Материал
                            </h4>
                        </li>
                        <li class="list-group-item-action"><a href="#">Лестницы из сосны</a></li>
                        <li class="list-group-item-action"><a href="#">Лестницы из берёзы</a></li>
                        <li class="list-group-item-action"><a href="#">Лестницы из лиственницы</a></li>
                        <li class="list-group-item-action"><a href="#">Лестницы из бука</a></li>
                        <li class="list-group-item-action"><a href="#">Лестницы из ясеня</a></li>
                        <li class="list-group-item-action"><a href="#">Лестницы из дуба</a></li>
                        <li class="list-group-item-action"><a href="#">Металлические</a></li>
                         <li class="list-group-item-action"><a href="#">Комбинированные</a></li>
                    </ul>
                </div>
                 <div class="w-100 d-md-none"></div>
                <div class="col">
                    <ul class="seo-list mb-3">
                        <li class="">
                            <h4 class="">
                                Форма
                            </h4>
                        </li>
                        <li class="list-group-item-action"><a href="#">Винтовые лестницы</a></li>
                        <li class="list-group-item-action"><a href="#">Маршевые лестницы (прямые)</a></li>
                        <li class="list-group-item-action"><a href="#">Г-образные лестницы</a></li>
                        <li class="list-group-item-action"><a href="#">П-образные лестницы</a></li>
                        <li class="list-group-item-action"><a href="#">Поворотные лестницы</a></li>
                    </ul>
                </div>
                <div class="w-100 d-sm-none"></div>
                <div class=" col">
                    <ul class="seo-list mb-3">
                        <li class="">
                            <h4 class="">
                                Конструкция
                            </h4>
                        </li>
                        <li class="list-group-item-action"><a href="#">Лестницы забежные</a></li>
                        <li class="list-group-item-action"><a href="#">Лестницы на косоурах</a></li>
                        <li class="list-group-item-action"><a href="#">Лестницы на тетивах</a></li>
                        <li class="list-group-item-action"><a href="#">Лестницы на больцах</a></li>
                        <li class="list-group-item-action"><a href="#">Модульные лестницы</a></li>
                        <li class="list-group-item-action"><a href="#">Гусиный шаг</a></li>
                        <li class="list-group-item-action"><a href="#">Консольные лестницы</a></li>
                    </ul>
                </div>
                 <div class="w-100 d-md-none"></div>
                <div class=" col">
                    <ul class="seo-list mb-3">
                        <li class="">
                            <h4 class="">
                                Тип
                            </h4>
                        </li>
                        <li class="list-group-item-action"><a href="#">Лестницы на мансарду</a></li>
                        <li class="list-group-item-action"><a href="#">Лестницы на второй этаж</a></li>
                        <li class="list-group-item-action"><a href="#">Лестницы в подвал</a></li>
                        <li class="list-group-item-action"><a href="#">Уличные лестницы</a></li>
                        <li class="list-group-item-action"><a href="#">Входные лестницы</a></li>
                        <li class="list-group-item-action"><a href="#">Лестницы на крыльцо</a></li>
                        <li class="list-group-item-action"><a href="#">Лестницы на крышу</a></li>
                    </ul>
                </div>
            </div>
        </div>

</div>