<div class="right-links-box link-a d-none d-lg-block">
    <a href="#" data-toggle="modal" data-target="#ask_us">
        <div class="right-link  shadow-lg d-flex align-items-center">
            <img src="img/ask.svg" alt="">
            <p class="mb-0">Задать вопрос</p>
        </div>
    </a>
</div>
<div class="right-links-box link-b d-none d-lg-block">
    <a href="calculate.html">
        <div class="right-link  shadow-lg d-flex align-items-center">
            <img src="img/calculate.svg" alt="">
            <p class="mb-0">Онлайн калькулятор</p>
        </div>
    </a>
</div>
<div class="right-links-box link-c d-none d-lg-block">
    <a href="#" data-toggle="modal" data-target="#order_measure">
        <div class="right-link shadow-lg d-flex align-items-center">
            <img src="img/measure.svg" alt="">
            <p class="mb-0">Заказать замер</p>
        </div>
    </a>
</div>
<!-- <div class="right-links-box link-d d-lg-block">
    <a href="#" data-toggle="modal" data-target="#whatsapp">
        <div class="right-link shadow-lg d-flex align-items-center">
            <img src="img/whatsapp.svg" alt="">
            <p class="mb-0">Спросить в WhatsApp</p>
        </div>
    </a>
</div> -->
<!-- <div class="right-links-box link-e d-lg-none">
    <a href="#" data-toggle="modal" data-target="#openPhone">
        <div class="right-link shadow-lg d-flex align-items-center">
            <img src="img/tel.svg" alt="">
            <p class="mb-0">Позвонить</p>
        </div>
    </a>
</div> -->