<!-- Модальное окно "Запрос консультации" -->
<div class="modal fade" id="zapros" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog my-modal" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                        <polygon class="" points="26,1.1 24.9,0 13,11.9 1.1,0 0,1.1 11.9,13 0,24.9 1.1,26 13,14.1 24.9,26 26,24.9 14.1,13 " />
                    </svg>
                </span>
            </button>
            <h2 class="mb-2 text-center">Запрос консультации</h2>
            <p class="mb-5 text-center">Вас интересует <b>Здесь Название лестницы</b></p>
            <form>
                <div class="row">  
                    <div class="form-group col-md-6">
                        <label class="my-label" for="NameZapros">Имя</label>
                        <input type="email" class="form-control" id="NameZapros">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPhone22" class="my-label">Телефон</label>
                        <input type="tel" class="form-control" id="inputPhone22">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label class="my-label" for="textZapros">Ваш вопрос</label>
                        <textarea class="form-control" id="textZapros" rows="3"></textarea>
                    </div>
                </div>
                <div class="input-group mb-4">
                    <div class="my-file text-center">
                        <input type="file" class="" id="FileZapros">
                        <label class="my-label sr-only" for="FileZapros">Прикрепить файл</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-simple btn-block mt-2 mb-4">Отправить</button>
                <p class="text-center">Мы перезвоним вам в ближайшее время и подробно ответим на все ваши вопросы</p>
            </form>
        </div>
    </div>
</div>
<!-- Конец Модальное окно "Запрос консультации" -->